html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hide {
    display: none;
}

.row,
.board {
    display: grid;
}

.board {
    grid-template-rows: repeat(10, min-content);
}

.row {
    grid-template-columns: repeat(10, min-content);
}

.box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(77, 76, 76);
}

.active {
    cursor: crosshair;
}

.not-active {
    cursor: not-allowed;
}

.filled-box {
    background-color: rgb(180, 178, 178);
}

.hide-ships {
    background-color: white;
}

.ship-hit {
    background-color: green;
}

.ship-missed {
    background-color: red;
}