html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--platypus);
    height: 100%;
}

@font-face {
    font-family: arcadeClassic;
    src: url(../fonts/ARCADECLASSIC.TTF);
}

@font-face {
    font-family: karmaArcade;
    src: url(../fonts/ka1.ttf);
}

:root {
    --platypus: rgb(3, 129, 129);
    --cream: rgb(248, 231, 198);
    --strawberry: rgb(238, 50, 90);
    font-family: arcadeClassic, karmaArcade, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.row,
.board {
    display: grid;
    gap: 5px;
    flex: 1;
}

.board {
    aspect-ratio: 1;
    grid-template-rows: repeat(10, 1fr);
    cursor: pointer;
}

.row {
    grid-template-columns: repeat(10, 1fr);
}

.disable-board {
    pointer-events: none;
    background-color: rgb(0, 0, 0);
    opacity: .6;
}

.box {
    border: 3px solid var(--cream);
}

.active {
    cursor: crosshair;
}

.not-active {
    cursor: not-allowed;
}

.filled-box {
    background-color: var(--strawberry);
}

.ship-hit {
    background-color: green;
}

.ship-missed {
    background-color: orange;
}

.ship-hit,
.ship-missed {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: var(--cream);
}

.highlight {
    background-color: orange;
}

.page-logo-container {
    width: 100%;
    text-align: center;
    border-top: 15px double var(--cream);
    border-bottom: 15px double var(--cream);
    padding-bottom: 20px;
}

.page-logo-text {
    font-size: 4rem;
    margin-top: 5px;
    font-family: karmaArcade;
    color: var(--cream);
}

.select-opponent {
    background-color: var(--strawberry);
    padding: 20px 10px;
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 8px dashed orange;
    border-radius: 10px;
    gap: 30px;
    text-align: center;
    margin: auto;
}

.select-opponent,
.place-ship-text {
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.modal-text-container {
    display: flex;
    align-items: end;
}

.select-opponent > div:last-child {
    display: flex;
    gap: 20px;
}

button {
    height: 50px;
    width: 150px;
    background-color: var(--strawberry);
    font-family: arcadeClassic;
    font-size: 1.4rem;
    border: 4px solid var(--cream);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--cream);
    color: var(--platypus);
    text-decoration: underline;
    border: 4px solid white;
}

.board-text-container {
    width: 40%;
    margin: auto;
}

.board-text-container > div:first-child {
    display: flex;
    color: white;
    align-items: end;
}

.board-text-container > div:first-child,
.rotate-btn {
    margin: 10px 0;
}

.ellipsis {
    width: 30px;
    text-align: left;
    font-family: arcadeClassic;
}

.ellipsis::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
    font-size: 32px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

.board-container {
    display: flex;
    width: 80%;
    gap: 20px;
    margin-top: 40px;
}

.all-boards {
    display: flex;
}

p {
    margin: 0;
}

.game-over-modal,
.pass-device-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.game-over-modal {
    background-color: rgba(0,0,0,0.4);
}

.pass-device-modal {
    background-color: var(--platypus);
}

.game-over-content,
.pass-device-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    height: 200px;
    outline: 8px dashed var(--cream);
    gap: 20px;
    color: var(--cream);
    font-weight: bold;
    font-size: 30px;
}

.hide {
    display: none;
}